
*{
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  max-width: 100%;
  background: #e4eaf0;
}

.wrapper{
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 15px;
}
.main-thumbnails {
  display: flex;
  flex-wrap: wrap;
}

.thumbnails {
  flex: 100%;
  padding: 30px;
  box-sizing: border-box;
  }

  @media (min-width: 768px) {
    .thumbnails {
      flex: 50%;
      padding: 30px;
      box-sizing: border-box;
    }
  }
@media (min-width: 1204px) {
  .thumbnails {
    flex: 33.33%;
    padding: 30px;
    box-sizing: border-box;
  }
}
