body {
  display: flex;
  max-width: 100%;
}

.main-thumbnails {
  display: flex;
  flex-wrap: wrap;
}

.thumbnails {
  flex: 33.33%;
  padding: 30px;
  box-sizing: border-box;
  }

@media (max-width: 768px) {
  .thumbnails {
    flex: 50%;
    padding: 30px;
    box-sizing: border-box;
  }
}
